.random-planet{
    display: flex;
    color: #fff;
    margin-top: 30px;
    height: 450px;
    &__image{
        flex-basis: 40%;
        border-radius: 50%;
        img{
            border-radius: 50%;
            width: 100%;
        }
    }
    &__description{
        flex-basis: 60%;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__info{
        padding-left: 30px;
        p{
            padding: 3px 0;
        }
    }
    &__name{
        padding-bottom: 20px;
    }
    &__population{
        position: relative;
        &:first-child{
            &:after{
                content: '';
                position: absolute;
                background-color: #fff;
                height: 1px;
                width: 100%;
                right: 0;
                bottom: 0;
                max-width: 0;
                transition: 1.5s max-width;
            }
        }
        &--loaded{
            &:first-child{
                &:after{
                    max-width: 100%;
                   
                }
            }
        }
    }
}


